body{
  background: $body_color;
  font-family: 'Open Sans';
}

p, li {
  font-size: 1.1em;
  line-height: 2em;
}

.wpb_text_column li{
  list-style-type: none;

  &:before{
    content: "•";
    font-weight: 800;
    font-size: 50px;
    font-family: Arial;
    color: #8bbc5e;
    display: block;
    margin-bottom: -36px;
    margin-top: 15px;
    margin-left: -40px;
    // -webkit-text-stroke: 2px black;
  }
}

#content, header, footer {
	width: $size__width;
	margin: 0 auto;
}

#content{
	background-color: whitesmoke;
}

.content-area {
  padding: 0 50px;
}

.vc_row.edge{
  margin-left: -50px !important;
  margin-right: -50px !important;
  padding-left: 36px;
  padding-right: 36px;
}

.vc_column-inner {
    padding: 36px 0;
}

.edit-link{
  display: none;
}
