body{
  background: $body_color;
}

#content, header, footer {
	width: $size__width;
	margin: 0 auto;
}

#content{
	background-color: whitesmoke;
}

.content-area {
  padding: 0 30px;
}

.vc_row.edge{
  margin-left: -30px !important;
  margin-right: -30px !important;
}

.edit-link{
  display: none;
}
