//.wf-loading .menu a{ opacity: 0;}

.menu a{
  color: gray;
  padding: 10px;
  font-size: 1.2em;
  font-family: 'Open Sans', sans-serif;
  font-weight: 800;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: all .1s;
}

.menu a:hover{
  color: #333;
}
.menu a:focus{
  outline: none;
}

.menu .current-menu-item a{
  background: #8BBC5E;
  color: white;
}

.custom-logo{
  width: 230px;
  margin-bottom: -75px;
  margin-top: -15px;
}
.custom-logo-link:focus{outline: none;}
